$main-color : #0B1F87;

html {
    font-size: 16px;
}

div {
    box-sizing: border-box;
}


.container {
    width: 100vw;
    height: 100vh;
}

.btn-container {
    margin-top: 400px;

    .login-btn {
        border-radius: 20px;
        background-color: $main-color;
        color: white;
        font-size: 15px;
        width: 171px;
        text-transform: uppercase;
        margin: 10px;
        height: 51px;
        border: none;
    }
}

.register-btn {
    font-size: 15px;

    &:hover {
        font-size: 18px;
        cursor: pointer;
    }
}