$main-color : #0B1F87;

html {
    font-size: 16px;
}

div {
    box-sizing: border-box;
}


.container {
    width: 100vw;
    height: 100vh;

    .btn-container {
        margin-top: 400px;
    }


    .btn {
        border-radius: 20px;
        background-color: $main-color;
        color: white;
        font-size: 18px;
        text-transform: uppercase;
        margin: 10px;
        width: 200px;
        height: 66px;
    }
}